.card {
    width: 50%;
    padding: 16px;
    border: 10px solid gray !important;
    border-radius: 30px !important;
    background-color: lightblue !important;
    margin-top:50px;
   
}

#quote-text,
#author-name {
    font-size: 18px; 
}

.row {
    display: flex;
}
.column {
    flex: 1;
}




